<main>
    <div class="words">words placeholder...</div>

    <div class="keyboard">
        <div class="row">
            <button class="key" [class.pressed]="currentKey() == '`'">`</button>
            <button class="key" [class.pressed]="currentKey() == '1'">1</button>
            <button class="key" [class.pressed]="currentKey() == '2'">2</button>
            <button class="key" [class.pressed]="currentKey() == '3'">3</button>
            <button class="key" [class.pressed]="currentKey() == '4'">4</button>
            <button class="key" [class.pressed]="currentKey() == '5'">5</button>
            <button class="key" [class.pressed]="currentKey() == '6'">6</button>
            <button class="key" [class.pressed]="currentKey() == '7'">7</button>
            <button class="key" [class.pressed]="currentKey() == '8'">8</button>
            <button class="key" [class.pressed]="currentKey() == '9'">9</button>
            <button class="key" [class.pressed]="currentKey() == '0'">0</button>
            <button class="key" [class.pressed]="currentKey() == '-'">-</button>
            <button class="key" [class.pressed]="currentKey() == '='">=</button>
            <button
                class="key backspace"
                [class.pressed]="currentKey() == 'backspace'"
            >
                backspace
            </button>
        </div>
        <div class="row">
            <button class="key tab" [class.pressed]="currentKey() == 'tab'">
                tab
            </button>
            <button class="key" [class.pressed]="currentKey() == 'q'">Q</button>
            <button class="key" [class.pressed]="currentKey() == 'w'">W</button>
            <button class="key" [class.pressed]="currentKey() == 'e'">E</button>
            <button class="key" [class.pressed]="currentKey() == 'r'">R</button>
            <button class="key" [class.pressed]="currentKey() == 't'">T</button>
            <button class="key" [class.pressed]="currentKey() == 'y'">Y</button>
            <button class="key" [class.pressed]="currentKey() == 'u'">U</button>
            <button class="key" [class.pressed]="currentKey() == 'i'">I</button>
            <button class="key" [class.pressed]="currentKey() == 'o'">O</button>
            <button class="key" [class.pressed]="currentKey() == 'p'">P</button>
            <button class="key" [class.pressed]="currentKey() == '['">[</button>
            <button class="key" [class.pressed]="currentKey() == ']'">]</button>
            <button class="key" [class.pressed]="currentKey() == '\\'">
                \\
            </button>
        </div>
        <div class="row">
            <button class="key caps" [class.pressed]="currentKey() == 'caps'">
                caps
            </button>
            <button class="key" [class.pressed]="currentKey() == 'a'">A</button>
            <button class="key" [class.pressed]="currentKey() == 's'">S</button>
            <button class="key" [class.pressed]="currentKey() == 'd'">D</button>
            <button class="key" [class.pressed]="currentKey() == 'f'">F</button>
            <button class="key" [class.pressed]="currentKey() == 'g'">G</button>
            <button class="key" [class.pressed]="currentKey() == 'h'">H</button>
            <button class="key" [class.pressed]="currentKey() == 'j'">J</button>
            <button class="key" [class.pressed]="currentKey() == 'k'">K</button>
            <button class="key" [class.pressed]="currentKey() == 'l'">L</button>
            <button class="key" [class.pressed]="currentKey() == ';'">;</button>
            <button class="key" [class.pressed]="currentKey() == '\''">
                '
            </button>
            <button class="key" [class.pressed]="currentKey() == 'enter'">
                enter
            </button>
        </div>
        <div class="row">
            <button
                class="key lshift"
                [class.pressed]="currentKey() == 'leftshift'"
            >
                shift
            </button>
            <button class="key" [class.pressed]="currentKey() == 'z'">Z</button>
            <button class="key" [class.pressed]="currentKey() == 'x'">X</button>
            <button class="key" [class.pressed]="currentKey() == 'c'">C</button>
            <button class="key" [class.pressed]="currentKey() == 'v'">V</button>
            <button class="key" [class.pressed]="currentKey() == 'b'">B</button>
            <button class="key" [class.pressed]="currentKey() == 'n'">N</button>
            <button class="key" [class.pressed]="currentKey() == 'm'">M</button>
            <button class="key" [class.pressed]="currentKey() == ','">,</button>
            <button class="key" [class.pressed]="currentKey() == '.'">.</button>
            <button class="key" [class.pressed]="currentKey() == '/'">/</button>
            <button
                class="key rshift"
                [class.pressed]="currentKey() == 'rightshift'"
            >
                shift
            </button>
        </div>
        <div class="row">
            <button class="key" [class.pressed]="currentKey() == 'leftctrl'">
                ctrl
            </button>
            <button class="key" [class.pressed]="currentKey() == 'leftalt'">
                option
            </button>
            <button class="key" [class.pressed]="currentKey() == 'leftmeta'">
                cmd
            </button>
            <button class="key space" [class.pressed]="currentKey() == ' '">
                _____
            </button>
            <button class="key" [class.pressed]="currentKey() == 'rightmeta'">
                cmd
            </button>
            <button class="key" [class.pressed]="currentKey() == 'rightalt'">
                option
            </button>
            <button class="key" [class.pressed]="currentKey() == 'fn'">
                fn
            </button>
            <button class="key" [class.pressed]="currentKey() == 'rightctrl'">
                ctrl
            </button>
        </div>
    </div>
</main>
